/* * {
  border: 1px solid black;
} */



.human-body {
  width: 475px;
  position: relative;
  padding-top: 240px;
  height: 500px;
  display: block;
  /* margin: 40px auto; */
    /* border: 1px solid #1F2B6C; */
}

.human-body svg:hover {
  cursor: pointer;
}

.human-body svg:hover path {
  fill: #6e95df;
  /* fill: #1F2B6C; */

}

.human-body svg {
  position: absolute;
  left: 50%;
  fill: #1F2B6C;
  /* fill: #BFD2F8; */

}
.human-body svg.body-text-box {
  margin-left: -240px;
  top: -2px;
  display: flex;
  justify-content: center;
  align-items: center;


  width: 480px;
  height: 500px;
  fill: #1F2B6C;
  /* border: 1px solid #1F2B6C; */
}

.human-body svg.head {
  margin-left: -28.5px;
  top: -6px;
}

.human-body svg.left-shoulder {
  margin-left: -53.5px;
  top: 69px;
}

.human-body svg.right-shoulder {
  margin-left: 13.5px;
  top: 69px;
}

.human-body svg.left-arm {
  margin-left: -78px;
  top: 112px;
}

.human-body svg.right-arm {
  margin-left: 38px;
  top: 112px;
  z-index: 10001;
}

.human-body svg.chest {
  margin-left: -43.5px;
  top: 88px;
}

.human-body svg.stomach {
  margin-left: -37.5px;
  top: 130px;
  z-index: 10000;
}

/* ====== */

.human-body svg.left-knee {
  margin-left: -45px;
  top: 320px;
  z-index: 9999;
    /* border: 1px solid black; */
}
.human-body svg.left-leg {
  margin-left: -45px;
  top: 190px;
  z-index: 9999;
    /* border: 1px solid black; */
}

/* ====== */
/* =============================== */
.human-body svg.right-knee {
  margin-left: 1px;
  top: 320px;
  z-index: 10000;
  /* border: 1px solid black; */
}
.human-body svg.right-leg {
  margin-left: 1.5px;
  top: 190px;
  z-index: 10000;
  /* border: 1px solid black; */
}


/* ================================= */
.human-body svg.left-hand {
  margin-left: -102.5px;
  top: 224px;
}

.human-body svg.right-hand {
  margin-left: 66.5px;
  top: 224px;
  z-index: 10000;
}

.human-body svg.left-foot {
  /* border: 1px solid red; */
  margin-left: -35.5px;
  z-index: 10000;
  top: 455px;
}

.human-body svg.right-foot {
  /* border: 1px solid black; */
  margin-left: 5.5px;
  z-index: 10001;
  top: 455px;
}

#area {
  display: block;
  width: 100%;
  height: 500px;
  clear: both;
  /* padding: 10px;  */
  text-align: center;
  font-size: 25px;
  font-family: Courier New;
  color: #a5a5a5;
}

#area #data {
  color: black;
}


#groupsText{
  text-anchor: middle;
  font-size: 14px;
  font-family: sans-serif;
  fill: #1F2B6C;
}

#linePath {
  stroke:#1F2B6C; 
  stroke-width: 1;
}
